body{
  color: #333;
  font-size: 14px;
}
.slimscroll::-webkit-scrollbar, .ui-sortable::-webkit-scrollbar, .table-responsive::-webkit-scrollbar, .ta-scroll-window.form-control::-webkit-scrollbar, select::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.slimscroll::-webkit-scrollbar-track, .ui-sortable::-webkit-scrollbar-track, .table-responsive::-webkit-scrollbar-track, .ta-scroll-window.form-control::-webkit-scrollbar-track, select::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.slimscroll::-webkit-scrollbar-thumb, .ui-sortable::-webkit-scrollbar-thumb, .table-responsive::-webkit-scrollbar-thumb, .ta-scroll-window.form-control::-webkit-scrollbar-thumb, select::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid slategrey;
  border-radius: 5px;
}
::-moz-selection {
  color: #fff;
  background: #5f8dc3;
}

::selection {
  color: #fff;
  background: #5f8dc3;
}
.color1{
  color: #5f8dc3;
}
.bg1{
  background: #5f8dc3;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  height: 40px;
  width: 40px;
}
.navbar{
  background: #f8f9fad4;
}
.navbar-nav{
  margin: 0px auto;
}
.navbar-light .navbar-nav .nav-link{
  font-family: Roboto,sans-serif;
  font-size: 18px;
  line-height: 80px;
  color: #cd2725;
  transition: all .3s ease-out;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #cd2725;
}
.navbar-light .navbar-nav .nav-link:hover{
  transform: translateY(-5px);
  color: #4a6f9a;
}
.navbar-brand {
  margin-right: auto;
}
.container{
  margin-top: 30px;
}
ul{
  list-style-type: none;
}
a:hover{
  text-decoration: none;
}
.btn-primary{
  background-color: #5f8dc3;
  border: 0;
  padding: 12px;
}
li:before {
  content: "~";
  padding-right: 5px;
  font-size: 2rem;
  top: 5px;
  line-height: 1rem;
  color: #5f8dc3;
  position: relative;
}
.social img {
  width: 50px;
  margin: 5px;
  transition: all .3s ease-out;
}
.social img:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.mybox {
  height: 300px;
  display: inline-block;
  margin-bottom: 40px;
  transition: all 0.2s ease-out;
  text-align: center;
  cursor: pointer;
}
.mybox:hover {
  background: transparent;
  transform: scale(0.8);
}
.mybox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-title {
  font-size: 18px;
  top: -47px;
  background: #2c3e50cc;
  position: relative;
  padding: 10px 20px;
  width: 100%;
  display: block;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.testimonial{
  background-image:url('../img/testimonial-bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  padding: 20px;
}
.iframeVideo{
  width: 100%;
  height: 54.25vw;
}
.imgPopup{
  max-width: 500px;
}
.imgPopup img{
  width: 100%;
}
#bmr{
  font-size: 24px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
footer{
  background: #2c3e50;
}
footer a{
  color: #ffffff;
}
.abigimage-layout, .abigimage-overlay{
  z-index: 9999;
}
.uygulama2{
    background-image:url('../img/office.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding: 20px;
}
